<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./static/stylesheets/app.css">
    <script src="./static/javascripts/vue.min.js"></script>
    <script src="./static/javascripts/app.js"></script>
</head>
<body>
    <div class="wrapper d-flex vh-100">
        <div class="vh-100 overflow-auto border-right" style="width: 300px;">
            <div class="mx-2 my-2">
                <div class="mb-4">
                    <div class="nav-item d-flex align-items-center w-100">
                        <img src="./static/images/circle-full.svg" alt="" class="nav-icon">
                        <span class="flex-fill text-left text-truncate">All</span>
                        <span class="counter text-right"></span>
                    </div>
                    <div class="nav-item d-flex align-items-center w-100">
                        <img src="./static/images/circle.svg" alt="" class="nav-icon">
                        <span class="flex-fill text-left text-truncate">Unread</span>
                        <span class="counter text-right"></span>
                    </div>
                    <div class="nav-item d-flex align-items-center w-100">
                        <img src="./static/images/star.svg" alt="" class="nav-icon">
                        <span class="flex-fill text-left text-truncate">Starred</span>
                        <span class="counter text-right">50</span>
                    </div>
                </div>
                <div>
                    <div class="folder">
                        <div class="nav-item d-flex align-items-center w-100">
                            <img src="./static/images/chevron-down.svg" alt="" class="nav-icon">
                            <span class="flex-fill text-left text-truncate">News</span>
                            <span class="counter text-right"></span>
                        </div>
                        <div>
                            <div class="nav-item d-flex align-items-center w-100">
                                <img src="" alt="" class="nav-icon">
                                <span class="flex-fill text-left text-truncate">news.ycombinator.com</span>
                                <span class="counter text-right"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="nav-item d-flex align-items-center w-100">
                            <img src="" alt="" class="nav-icon">
                            <span class="flex-fill text-left text-truncate">news.ycombinator.com</span>
                            <span class="counter text-right">30</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vh-100 overflow-auto border-right" style="width: 300px;">
            <div class="mt-2 mb-3 mx-2">
                <div class="p-2 feed-item">
                    <div class="d-flex flex-column ml-4">
                        <div style="line-height: 1" class="d-flex">
                            <img src="./static/images/circle.svg" alt="" class="nav-icon ml-n4 mr-2">
                            <small class="flex-fill text-truncate">NY Times</small>
                            <small class="">12 Jun 2020</small>
                        </div>
                        <span class="font-weight-bold">
                            Police confiscates illegal Antimatter from scientists
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3">three</div>
    </div>
</body>
</html>
