<div id="app" class="d-flex" :class="{'feed-selected': feedSelected !== null, 'item-selected': itemSelected !== null}">
    <!-- feed list -->
    <div id="col-feed-list" class="vh-100 position-relative d-flex flex-column border-right flex-shrink-0" :style="{width: feedListWidth+'px'}">
        <v-drag :width="feedListWidth" @resize="resizeFeedList"></v-drag>
        <div class="p-2 toolbar d-flex align-items-center">
            <v-icon class="mx-2" name="anchor" />
            <div class="flex-grow-1"></div>
            <button class="toolbar-item ml-1"
                    :class="{active: filterSelected == 'unread'}"
                    :aria-pressed="filterSelected == 'unread'"
                    :title="$t('unread')"
                    @click="filterSelected = 'unread'">
                <v-icon name="circle-full" />
            </button>
            <button class="toolbar-item mx-1"
                    :class="{active: filterSelected == 'starred'}"
                    :aria-pressed="filterSelected == 'starred'"
                    :title="$t('starred')"
                    @click="filterSelected = 'starred'">
                <v-icon name="star-full" />
            </button>
            <button class="toolbar-item mr-1"
                    :class="{active: filterSelected == ''}"
                    :aria-pressed="filterSelected == ''"
                    :title="$t('all')"
                    @click="filterSelected = ''">
                <v-icon name="assorted" />
            </button>
            <div class="flex-grow-1"></div>
            <v-dropdown class="settings-dropdown" toggle-class="btn btn-link toolbar-item px-2" ref="menuDropdown" drop="right" :title="$t('settings')">
                <template v-slot:button>
                    <v-icon name="more-horizontal" />
                </template>

                <button class="dropdown-item" @click="showSettings('create')">
                    <v-icon class="mr-1" name="plus" />
                    {{ $t('new_feed') }}
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" @click="fetchAllFeeds()">
                    <v-icon class="mr-1" name="rotate-cw" />
                    {{ $t('refresh_feeds') }}
                </button>

                <div class="dropdown-divider"></div>

                <header class="dropdown-header" role="heading" aria-level="2">{{ $t('theme') }}</header>
                <div class="row text-center m-0">
                    <button class="btn btn-link col-4 px-0 rounded-0"
                            :class="'theme-'+t"
                            :title="t"
                            :aria-label="t"
                            :aria-pressed="theme.name == t"
                            @click.stop="theme.name = t"
                            v-for="t in ['light', 'sepia', 'night']">
                        <v-icon v-if="theme.name == t" name="check" />
                    </button>
                </div>

                <div class="dropdown-divider"></div>

                <header class="dropdown-header" role="heading" aria-level="2">{{ $t('auto_refresh') }}</header>
                <div class="row text-center m-0">
                    <button class="dropdown-item col-4 px-0"
                            @click.stop="changeRefreshRate(-1)"
                            :disabled="!refreshRate">
                        <v-icon name="chevron-down" />
                    </button>
                    <div class="col-4 d-flex align-items-center justify-content-center">{{ refreshRateTitle }}</div>
                    <button class="dropdown-item col-4 px-0"
                            @click.stop="changeRefreshRate(1)" :disabled="refreshRate === refreshRateOptions.at(-1).value">
                        <v-icon name="chevron-up" />
                    </button>
                </div>

                <div class="dropdown-divider"></div>

                <header class="dropdown-header" role="heading" aria-level="2">{{ $t('show_first') }}</header>
                <div class="d-flex text-center">
                    <button class="dropdown-item px-0" :aria-pressed="itemSortNewestFirst"  :class="{active: itemSortNewestFirst}"  @click.stop="itemSortNewestFirst=true">{{ $t('new') }}</button>
                    <button class="dropdown-item px-0" :aria-pressed="!itemSortNewestFirst" :class="{active: !itemSortNewestFirst}" @click.stop="itemSortNewestFirst=false">{{ $t('old') }}</button>
                </div>
                <div class="dropdown-divider"></div>
                <header class="dropdown-header" role="heading" aria-level="2">{{ $t('subscriptions') }}</header>
                <form id="opml-import-form" enctype="multipart/form-data" tabindex="-1">
                    <input type="file"
                            id="opml-import"
                            @change="importOPML"
                            name="opml"
                            style="opacity: 0; width: 1px; height: 0; position: absolute; z-index: -1;">
                    <label class="dropdown-item mb-0 cursor-pointer" for="opml-import" @click.stop="">
                        <v-icon class="mr-1" name="download" />
                        {{ $t('import') }}
                    </label>
                </form>
                <a class="dropdown-item" href="./opml/export">
                    <v-icon class="mr-1" name="upload" />
                    {{ $t('export') }}
                </a>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" @click="showSettings('shortcuts')">
                    <v-icon class="mr-1" name="help-circle" />
                    {{ $t('shortcuts') }}
                </button>
                <div class="dropdown-divider"></div>
                <header class="dropdown-header" role="heading" aria-level="2">A / あ / 文</header>
                <div class="container">
                    <div class="row">
                        <button
                            v-for="lang in languages"
                            class="dropdown-item text-center col-3 px-0"
                            :aria-label="lang.name"
                            :title="lang.name"
                            :class="{active: language==lang.code}"
                            @click.stop="changeLanguage(lang.code)">
                                {{ lang.code }}
                        </button>
                    </div>
                </div>
                <div class="dropdown-divider" v-if="requiresAuth"></div>
                <button class="dropdown-item" v-if="requiresAuth" @click="logout()">
                    <v-icon class="mr-1" name="log-out" />
                    {{ $t('log_out') }}
                </button>
            </v-dropdown>
        </div>
        <div id="feed-list-scroll" class="p-2 overflow-auto scroll-touch border-top flex-grow-1">
            <label class="selectgroup">
                <input type="radio" name="feed" value="" v-model="feedSelected">
                <div class="selectgroup-label d-flex align-items-center w-100">
                    <v-icon class="mr-2" name="layers" />
                    <span class="flex-fill text-left text-truncate" v-if="filterSelected=='unread'">{{ $t('all_unread') }}</span>
                    <span class="flex-fill text-left text-truncate" v-if="filterSelected=='starred'">{{ $t('all_starred') }}</span>
                    <span class="flex-fill text-left text-truncate" v-if="filterSelected==''">{{ $t('all_feeds') }}</span>
                    <span class="counter text-right">{{ filteredTotalStats }}</span>
                </div>
            </label>
            <div v-for="folder in foldersWithFeeds">
                <label class="selectgroup mt-1"
                        :class="{'d-none': mustHideFolder(folder)}"
                        v-if="folder.id">
                    <input type="radio" name="feed" :value="'folder:'+folder.id" v-model="feedSelected" v-if="folder.id">
                    <div class="selectgroup-label d-flex align-items-center w-100" v-if="folder.id">
                        <div @click.prevent="toggleFolderExpanded(folder)" class="m-n1 p-1">
                            <v-icon class="mr-2" :class="{expanded: folder.is_expanded}" name="chevron-right" />
                        </div>
                        <span class="flex-fill text-left text-truncate">{{ folder.title }}</span>
                        <span class="counter text-right">{{ filteredFolderStats[folder.id] || '' }}</span>
                    </div>
                </label>
                <div v-show="!folder.id || folder.is_expanded" class="mt-1" :class="{'pl-3': folder.id}">
                    <label class="selectgroup"
                            :class="{'d-none': mustHideFeed(feed)}"
                            v-for="feed in folder.feeds">
                        <input type="radio" name="feed" :value="'feed:'+feed.id" v-model="feedSelected">
                        <div class="selectgroup-label d-flex align-items-center w-100">
                            <v-icon class="mr-2" name="rss" v-if="!feed.icon" />
                            <span class="icon mr-2" v-else><img :src="feed.icon" alt="" loading="lazy"></span>
                            <span class="flex-fill text-left text-truncate">{{ feed.title }}</span>
                            <span class="counter text-right">{{ filteredFeedStats[feed.id] || '' }}</span>
                            <v-icon class="flex-shrink-0 mx-2"
                                    :title="feed_errors[feed.id]"
                                    v-if="!filterSelected && feed_errors[feed.id]"
                                    name="alert-circle" />
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="p-2 toolbar d-flex align-items-center border-top flex-shrink-0" v-if="loading.feeds">
            <span class="icon loading mx-2"></span>
            <span class="text-truncate cursor-default noselect">{{ $t('refreshing_progress', {count: loading.feeds}) }}</span>
        </div>
    </div>
    <!-- item list -->
    <div id="col-item-list" class="vh-100 position-relative d-flex flex-column border-right flex-shrink-0" :style="{width: itemListWidth+'px'}">
        <v-drag :width="itemListWidth" @resize="resizeItemList"></v-drag>
        <div class="px-2 toolbar d-flex align-items-center">
            <button class="toolbar-item mr-2 d-block d-md-none"
                    @click="feedSelected = null"
                    :title="$t('show_feeds')">
                <v-icon name="chevron-left" />
            </button>
            <div class="input-icon flex-grow-1">
                <v-icon name="search" />
                <!-- id used by keybindings -->
                <input id="searchbar" type="" class="d-block toolbar-search" v-model="itemSearch" @keydown.enter="$event.target.blur()">
            </div>
            <button class="toolbar-item ml-2"
                    @click="markItemsRead()"
                    v-if="filterSelected == 'unread'"
                    :title="$t('mark_all_read')">
                <v-icon name="check" />
            </button>


            <button class="btn btn-link toolbar-item px-2 ml-2" v-if="!current.type" disabled>
                <v-icon name="more-horizontal" />
            </button>
            <v-dropdown class="settings-dropdown"
                        toggle-class="btn btn-link toolbar-item px-2 ml-2"
                        drop="right"
                        :title="$t('feed_settings')"
                        v-if="current.type == 'feed'">
                <template v-slot:button>
                    <v-icon name="more-horizontal" />
                </template>
                <header class="dropdown-header" role="heading" aria-level="2">{{ current.feed.title }}</header>
                <a class="dropdown-item" :href="current.feed.link" rel="noopener noreferrer" target="_blank" referrerpolicy="no-referrer" v-if="current.feed.link">
                    <v-icon class="mr-1" name="globe" />
                    {{ $t('website') }}
                </a>
                <a class="dropdown-item" :href="current.feed.feed_link" rel="noopener noreferrer" target="_blank" referrerpolicy="no-referrer" v-if="current.feed.feed_link">
                    <v-icon class="mr-1" name="rss" />
                    {{ $t('feed_link') }}
                </a>
                <div class="dropdown-divider" v-if="current.feed.link || current.feed.feed_link"></div>
                <button class="dropdown-item" @click="renameFeed(current.feed)">
                    <v-icon class="mr-1" name="edit" />
                    {{ $t('rename') }}
                </button>
                <button class="dropdown-item" @click="updateFeedLink(current.feed)" v-if="current.feed.feed_link">
                    <v-icon class="mr-1" name="edit" />
                    {{ $t('change_link') }}
                </button>
                <div class="dropdown-divider"></div>
                <header class="dropdown-header" role="heading" aria-level="2">{{ $t('move_to') }}</header>
                <button class="dropdown-item"
                    v-if="folder.id != current.feed.folder_id"
                    v-for="folder in folders"
                    @click="moveFeed(current.feed, folder)">
                    <v-icon class="mr-1" name="folder" />
                    {{ folder.title }}
                </button>
                <button class="dropdown-item text-muted" @click="moveFeed(current.feed, null)" v-if="current.feed.folder_id">
                    <v-icon class="mr-1" name="folder-minus" />
                    ──
                </button>
                <button class="dropdown-item text-muted" @click="moveFeedToNewFolder(current.feed)">
                    <v-icon class="mr-1" name="folder-plus" />
                    {{ $t('new_folder') }}
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item text-danger" @click.prevent="deleteFeed(current.feed)">
                    <v-icon class="mr-1" name="trash" />
                    {{ $t('delete') }}
                </button>
            </v-dropdown>
            <v-dropdown class="settings-dropdown"
                        toggle-class="btn btn-link toolbar-item px-2 ml-2"
                        :title="$t('folder_settings')"
                        drop="right"
                        v-if="current.type == 'folder'">
                <template v-slot:button>
                    <v-icon name="more-horizontal" />
                </template>
                <header class="dropdown-header" role="heading" aria-level="2">{{ current.folder.title }}</header>
                <button class="dropdown-item" @click="renameFolder(current.folder)">
                    <v-icon class="mr-1" name="edit" />
                    {{ $t('rename') }}
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item text-danger" @click="deleteFolder(current.folder)">
                    <v-icon class="mr-1" name="trash" />
                    {{ $t('delete') }}
                </button>
            </v-dropdown>
        </div>
        <div id="item-list-scroll" class="p-2 overflow-auto scroll-touch border-top flex-grow-1" v-scroll="loadMoreItems" ref="itemlist">
            <label v-for="item in items" :key="item.id"
                    class="selectgroup">
                <input type="radio" name="item" :value="item.id" v-model="itemSelected">
                <div class="selectgroup-label d-flex flex-column">
                    <div style="line-height: 100%; opacity: .7; margin-bottom: .1rem;" class="d-flex align-items-center">
                        <transition name="indicator">
                            <v-icon class="icon-small mr-1" name="circle-full" v-if="item.status=='unread'" />
                            <v-icon class="icon-small mr-1" name="star-full" v-if="item.status=='starred'" />
                        </transition>
                        <small class="flex-fill text-truncate mr-1">
                            {{ (feedsById[item.feed_id] || {}).title }}
                        </small>
                        <small class="flex-shrink-0"><v-relative-time v-bind:title="formatDate(item.date)" :val="item.date"/></small>
                    </div>
                    <div>{{ item.title || $t('untitled') }}</div>
                </div>
            </label>
            <button class="btn btn-link btn-block loading my-3" v-if="itemsHasMore"></button>
        </div>
        <div class="px-3 py-2 border-top text-danger text-break" v-if="feed_errors[current.feed.id]">
            {{ feed_errors[current.feed.id] }}
        </div>
    </div>
    <!-- item show -->
    <div id="col-item" class="vh-100 d-flex flex-column w-100" style="min-width: 0;">
        <div class="toolbar px-2 d-flex align-items-center" v-if="itemSelectedDetails">
            <button class="toolbar-item"
                    @click="toggleItemStarred(itemSelectedDetails)"
                    :title="$t('mark_starred')">
                <v-icon name="star-full" v-if="itemSelectedDetails.status=='starred'" />
                <v-icon name="star" v-else-if="itemSelectedDetails.status!='starred'" />
            </button>
            <button class="toolbar-item"
                    :title="$t('mark_unread')"
                    @click="toggleItemRead(itemSelectedDetails)">
                <v-icon name="circle-full" v-if="itemSelectedDetails.status=='unread'" />
                <v-icon name="circle" v-if="itemSelectedDetails.status!='unread'" />
            </button>
            <v-dropdown class="settings-dropdown" toggle-class="toolbar-item px-2" drop="center" :title="$t('appearance')">
                <template v-slot:button>
                    <v-icon name="sliders" />
                </template>

                <button class="dropdown-item" :class="{active: !theme.font}" @click.stop="theme.font = ''">{{ $t('sans_serif') }}</button>
                <button class="dropdown-item font-serif" :class="{active: theme.font == 'serif'}" @click.stop="theme.font = 'serif'">{{ $t('serif') }}</button>
                <button class="dropdown-item font-monospace" :class="{active: theme.font == 'monospace'}" @click.stop="theme.font = 'monospace'">{{ $t('monospace') }}</button>

                <div class="d-flex text-center">
                    <button class="dropdown-item" style="font-size: 0.8rem" @click.stop="incrFont(-1)">A</button>
                    <button class="dropdown-item" style="font-size: 1.2rem" @click.stop="incrFont(1)">A</button>
                </div>
            </v-dropdown>
            <button class="toolbar-item"
                    :class="{active: itemSelectedReadability}"
                    @click="toggleReadability()"
                    :title="$t('read_here')">
                <v-icon :class="{'icon-loading': loading.readability}" name="book-open" />
            </button>
            <a class="toolbar-item" :href="itemSelectedDetails.link" rel="noopener noreferrer" target="_blank" referrerpolicy="no-referrer" :title="$t('open_link')">
                <v-icon name="external-link" />
            </a>
            <div class="flex-grow-1"></div>
            <button class="toolbar-item" @click="navigateToItem(-1)" :title="$t('previous_article')" :disabled="!items.length || itemSelected == items[0].id">
                <v-icon name="chevron-left" />
            </button>
            <button class="toolbar-item" @click="navigateToItem(+1)" :title="$t('next_article')" :disabled="!items.length || itemSelected == items[items.length - 1].id">
                <v-icon name="chevron-right" />
            </button>
            <button class="toolbar-item" @click="itemSelected=null" :title="$t('close_article')">
                <v-icon name="x" />
            </button>
        </div>
        <div v-if="itemSelectedDetails"
                ref="content"
                class="content px-4 pt-3 pb-5 border-top overflow-auto scroll-touch"
                :class="{'font-serif': theme.font == 'serif', 'font-monospace': theme.font == 'monospace'}"
                :style="{'font-size': theme.size + 'rem'}">
            <div class="content-wrapper">
                <h1><b>{{ itemSelectedDetails.title || $t('untitled') }}</b></h1>
                <div class="text-muted">
                    <div>
                        <span class="cursor-pointer" @click="feedSelected = 'feed:'+(feedsById[itemSelectedDetails.feed_id] || {}).id">
                            {{ (feedsById[itemSelectedDetails.feed_id] || {}).title }}
                        </span>
                    </div>
                    <time>{{ formatDate(itemSelectedDetails.date) }}</time>
                </div>
                <hr>
                <div v-if="!itemSelectedReadability">
                    <div v-if="contentImages.length">
                        <figure v-for="media in contentImages">
                            <img :src="media.url" loading="lazy">
                            <figcaption v-if="media.description">{{ media.description }}</figcaption>
                        </figure>
                    </div>
                    <audio class="w-100" controls v-for="media in contentAudios" :src="media.url"></audio>
                    <video class="w-100" controls v-for="media in contentVideos" :src="media.url"></video>
                </div>
                <div v-html="itemSelectedContent"></div>
            </div>
        </div>
    </div>
    <v-modal :open="!!settings" @hide="settings = ''">
        <button class="btn btn-link outline-none float-right p-2 mr-n2 mt-n2" style="line-height: 1" @click="settings = ''">
            <v-icon name="x" />
        </button>
        <div v-if="settings=='create'">
            <p class="cursor-default"><b>{{ $t('new_feed') }}</b></p>
            <form action="" @submit.prevent="createFeed($event)" class="mt-4">
                <label for="feed-url">{{ $t('url') }}</label>
                <input id="feed-url" name="url" type="url" class="form-control" required autocomplete="off" :readonly="feedNewChoice.length > 0" placeholder="https://example.com/feed" v-focus>
                <label for="feed-folder" class="mt-3 d-block">
                    {{ $t('folder') }}
                    <a href="#" class="float-right text-decoration-none" @click.prevent="createNewFeedFolder()">{{ $t('new_folder') }}</a>
                </label>
                <select class="form-control" id="feed-folder" name="folder_id" ref="newFeedFolder">
                    <option value="">---</option>
                    <option :value="folder.id" v-for="folder in folders" :selected="folder.id === current.feed.folder_id || folder.id === current.folder.id">{{ folder.title }}</option>
                </select>
                <div class="mt-4" v-if="feedNewChoice.length">
                    <p class="mb-2">
                        {{ $t('multiple_feeds_found') }}
                        <a href="#" class="float-right text-decoration-none" @click.prevent="resetFeedChoice()">{{ $t('cancel') }}</a>
                    </p>
                    <label class="selectgroup" v-for="choice in feedNewChoice">
                        <input type="radio" name="feedToAdd" :value="choice.url" v-model="feedNewChoiceSelected">
                        <div class="selectgroup-label">
                            <div class="text-truncate">{{ choice.title }}</div>
                            <div class="text-truncate" :class="{light: choice.title}">{{ choice.url }}</div>
                        </div>
                    </label>
                </div>
                <button class="btn btn-block btn-default mt-3" :class="{loading: loading.newfeed}" type="submit">{{ $t('add') }}</button>
            </form>
        </div>
        <div v-else-if="settings=='shortcuts'">
            <p class="cursor-default"><b>{{ $t('keyboard_shortcuts') }}</b></p>

            <table class="table table-borderless table-sm table-compact m-0">
                <tr><td><kbd>1</kbd> <kbd>2</kbd> <kbd>3</kbd></td>
                                                        <td>{{ $t('kb_show_filters') }}</td></tr>
                <tr><td><kbd>/</kbd></td>               <td>{{ $t('kb_focus_search') }}</td></tr>

                <tr><td colspan=2>&nbsp;</td></tr>
                <tr><td><kbd>j</kbd> <kbd>k</kbd></td>  <td>{{ $t('kb_next_prev_article') }}</td></tr>
                <tr><td><kbd>l</kbd> <kbd>h</kbd></td>  <td>{{ $t('kb_next_prev_feed') }}</td></tr>
                <tr><td><kbd>q</kbd></td>               <td>{{ $t('kb_close_article') }}</td></tr>

                <tr><td colspan=2>&nbsp;</td></tr>
                <tr><td><kbd>R</kbd></td>               <td>{{ $t('kb_mark_all_read') }}</td></tr>
                <tr><td><kbd>r</kbd></td>               <td>{{ $t('kb_mark_read') }}</td></tr>
                <tr><td><kbd>s</kbd></td>               <td>{{ $t('kb_mark_starred') }}</td></tr>
                <tr><td><kbd>o</kbd></td>               <td>{{ $t('kb_open_link') }}</td></tr>
                <tr><td><kbd>i</kbd></td>               <td>{{ $t('kb_read_here') }}</td> </tr>
                <tr><td><kbd>f</kbd> <kbd>b</kbd></td>  <td>{{ $t('kb_scroll_content') }}</td>
                </tr>
            </table>
        </div>
    </v-modal>
</div>
