1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Old MacDonald's Farm"
      VALUE "FileDescription", "Yet another RSS reader"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "yarr"
      VALUE "LegalCopyright", "nkanaev"
      VALUE "OriginalFilename", "yarr.exe"
      VALUE "ProductName", "yarr"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

1 ICON "icon.ico"

