:root {
  --color-primary: #007bff;
}

[v-cloak] {
  display: none !important;
}

body {
  font-size: 15px !important;
}

.form-control {
  transition: none;
}

select.form-control {
  -webkit-appearance: none;
}

select.form-control:not([multiple]):not([size]) {
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center/.6rem .6rem;
  padding-right: 1.2rem;
}

.form-control:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(0,123,255,.25), inset 0 1px 1px rgba(16,22,26,.2);
}

.btn:focus {
  box-shadow: none !important;
}

.wrapper {
  max-width: 1368px;
  margin: 0 auto;
}

.nav-icon {
  width: 14px;
  height: 14px;
  min-width: 14px;
  margin-right: 7px;
}

.feed-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-left: -18px !important;
}

.counter {
  max-width: 100px;
}

.menu-item {
  padding: .375rem .75rem;
}

.menu-item, .feed-item {
  border-radius: 4px;
}

.nav-select {
  position: relative;
}

.nav-select input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0; left: 0;
}

.menu-item:hover, .feed-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.feed-item:active, .nav-select input:checked + .menu-item {
  background-color: var(--color-primary);
  color: white;
}

.expanded {
  transform: rotate(90deg);
}

.dropdown-header {
  cursor: default;
}

.dropdown-toggle-no-caret:after {
  display: none;
}

.settings-dropdown .dropdown-toggle {
  padding-left: 0;
  padding-right: 0;
}

.dropdown-menu {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.07);
}

.settings-dropdown .dropdown-menu:focus {
  outline: none;
}

.settings-dropdown .dropdown-item, .settings-dropdown .dropdown-header {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-danger .dropdown-item {
  color: #dc3545!important;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-tabs .nav-link {
  padding: .5rem 0;
}

.nav-tabs .nav-item + .nav-item {
  margin-left: 1rem;
}

.nav-tabs .nav-link {
  border: 0;
  border-bottom: 3px solid transparent;
  color: inherit;
}

.nav-tabs .nav-link.active {
  color: inherit;
  border-radius: 0 !important;
  border-color: var(--color-primary);
  background-color: transparent;
}
