[v-cloak] {
  display: none !important;
}

body {
  font-size: 15px !important;
}

.form-control {
  transition: none;
}

.form-control:focus {
  border-color: #80bdff !important;
  box-shadow: inset 0 0 0 2px #80bdff !important;
}

.btn:focus {
  box-shadow: none !important;
}

.wrapper {
  max-width: 1368px;
  margin: 0 auto;
}

.nav-icon {
  width: 14px;
  height: 14px;
  min-width: 14px;
  margin-right: 7px;
}

.feed-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-left: -18px !important;
}

.counter {
  max-width: 100px;
}

.menu-item {
  padding: .375rem .75rem;
}

.menu-item, .feed-item {
  border-radius: 4px;
}

.nav-select {
  position: relative;
}

.nav-select input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0; left: 0;
}

.menu-item:hover, .feed-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.feed-item:active, .nav-select input:checked + .menu-item {
  background-color: #007bff;
  color: white;
}

.expanded {
  transform: rotate(90deg);
}

.dropdown-header {
  cursor: default;
}
