@import "bootstrap/dist/css/bootstrap-reboot.css";
@import "bootstrap/dist/css/bootstrap-grid.css";
@import "bootstrap/dist/css/bootstrap-utilities.css";

@import "base.css";
@import "components.css";
@import "content.css";
@import "responsive.css";
@import "utilities.css";
@import "variables.css";

.theme-sepia .content hr,
.theme-sepia .content pre {
  border-color: #e0d6ba !important;
}
.theme-sepia .toolbar-search:hover,
.theme-sepia .toolbar-search:focus {
  background-color: #e0d6ba;
}

/* theme: night */

.theme-night .content hr,
.theme-night .content pre {
  border-color: #1a1a1a !important;
}
.theme-night .toolbar-search:hover,
.theme-night .toolbar-search:focus {
  background-color: #1a1a1a;
}

/* theme: system follows the system color scheme */

@media (prefers-color-scheme: dark) {
  .theme-system,
  .theme-system .toolbar-search {
    color: #d1d1d1;
    background-color: #0e0e0e;
  }
  .theme-system .content hr,
  .theme-system .content pre {
    border-color: #1a1a1a !important;
  }
  .theme-system .toolbar-search:hover,
  .theme-system .toolbar-search:focus {
    background-color: #1a1a1a;
  }
}

/* animation */
.indicator-enter-active,
.indicator-leave-active {
  transition: all 0.3s;
}
.indicator-enter,
.indicator-leave-to {
  width: 0;
  opacity: 0;
  margin: 0 !important;
}

/* login icon */
.login-logo svg {
  width: 4rem;
  height: auto;
}
