.font-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif !important;
}

.font-sans-serif {
  font-family: var(--bs-font-sans-serif) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}
