/* theme: light (default) + system (prefers-color-scheme: light) */

:root {
  --v-light-bg: #fff;
  --v-sepia-bg: #f4f0e5;
  --v-night-bg: #111;

  --v-bg: #fff;
  --v-fg: #111;

  --v-selected-bg: hsl(from var(--v-sepia-bg) h s 10%);
  --v-selected-fg: hsl(from var(--v-sepia-bg) h s 90%);

  --v-border-color: #ddd;
  --v-color-primary: #0080d4;
  --v-color-danger: var(--bs-form-invalid-border-color);

  --v-button-background: var(--v-bg);
  --v-button-background-hover: oklch(from var(--v-button-background) calc(l - 0.02) c h);
  --v-button-background-active: oklch(from var(--v-button-background) calc(l - 0.05) c h);

  --v-chrome-height: 1.49rem;

  /* bootstrap var overrides */
  --bs-border-color: var(--v-border-color);
}

/* theme: sepia */

[data-theme="sepia"] {
  &:root {
    --v-bg: var(--v-sepia-bg);
    --v-fg: hsl(from var(--v-sepia-bg) h s 12%);
    --v-border-color: oklch(from var(--v-bg) calc(l - 0.1) c h);
    --v-color-primary: hsl(from var(--v-sepia-bg) h s 10%);

    --v-selected-bg: hsl(from var(--v-sepia-bg) h s 10%);
    --v-selected-fg: hsl(from var(--v-sepia-bg) h s 90%);

    --v-button-background: var(--v-bg);
    --v-button-background-hover: oklch(from var(--v-button-background) calc(l - 0.05) c h);
    --v-button-background-active: oklch(from var(--v-button-background) calc(l - 0.1) c h);
  }
}

/* theme: night */

[data-theme="night"] {
  &:root {
    --v-bg: #111;
    --v-fg: #fff;
    --v-border-color: var(--bs-border-color);
    --v-color-primary: var(--bs-primary);

    --v-button-background: var(--v-bg);
    --v-button-background-hover: oklch(from var(--v-button-background) calc(l + 0.05) c h);
    --v-button-background-active: oklch(from var(--v-button-background) calc(l + 0.1) c h);
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    &:root {
      --v-bg: var(--v-sepia-bg);
      --v-fg: #fff;
      --v-border-color: var(--bs-border-color);
      --v-color-primary: var(--bs-primary);

      --v-button-background: var(--v-bg);
      --v-button-background-hover: oklch(from var(--v-button-background) calc(l + 0.05) c h);
      --v-button-background-active: oklch(from var(--v-button-background) calc(l + 0.1) c h);
    }
  }
}
