:root {
  --v-light-bg: #fff;
  --v-sepia-bg: #f4f0e5;
  --v-night-bg: #111;

  --v-color-dark: #fff;
  --v-color-blue: #0080d4;

  --v-bg: #fff;
  --v-fg: #111;

  --v-selected-bg: hsl(from var(--v-sepia-bg) h s 10%);
  --v-selected-fg: hsl(from var(--v-sepia-bg) h s 90%);

  --v-border-color: #ddd;
  --v-color-danger: var(--bs-form-invalid-border-color);

  --v-button-background: var(--v-bg);
  --v-button-background-hover: oklch(from var(--v-button-background) calc(l - 0.02) c h);
  --v-button-background-active: oklch(from var(--v-button-background) calc(l - 0.05) c h);

  --v-chrome-height: 1.49rem;

  /* bootstrap var overrides */
  --bs-border-color: var(--v-border-color);
}

[data-theme="light"] {
  &:root {
    color-scheme: light;

    --v-color-dark: #fff;
    --v-color-blue: #0080d4;

    --v-border-color: hsl(from var(--v-color-dark) h s 90%);
    --v-focus-color: hsl(from var(--v-color-dark) h s 10%);

    --v-bg: var(--v-light-bg);
    --v-fg: hsl(from var(--v-color-dark) h s 5%);

    --v-active-bg: var(--v-color-blue);
    --v-active-fg: var(--v-bg);

    --v-hover-bg: hsl(from var(--v-color-dark) h s 92%);
    --v-hover-fg: var(--v-fg);
  }
}

[data-theme="sepia"] {
  &:root {
    --v-border-color: hsl(from var(--v-sepia-bg) h s 80%);
    --v-focus-color: hsl(from var(--v-sepia-bg) h s 10%);

    --v-bg: var(--v-sepia-bg);
    --v-fg: hsl(from var(--v-sepia-bg) h s 10%);

    --v-active-bg: hsl(from var(--v-sepia-bg) h 25% 15%);
    --v-active-fg: var(--v-bg);

    --v-hover-bg: hsl(from var(--v-sepia-bg) h 25% 85%);
    --v-hover-fg: var(--v-fg);
  }
}

[data-theme="night"] {
  &:root {
    color-scheme: dark;

    --v-border-color: hsl(from var(--v-night-bg) h s 15%);
    --v-focus-color: hsl(from var(--v-night-bg) h s 10%);

    --v-bg: var(--v-night-bg);
    --v-fg: hsl(from var(--v-night-bg) h s 90%);

    --v-active-bg: var(--v-color-blue);
    --v-active-fg: var(--v-fg);

    --v-hover-bg: hsl(from var(--v-night-bg) h s 12%);
    --v-hover-fg: var(--v-fg);
  }
}

/* TODO: system vars are a copy of light/night.  */

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    color-scheme: light;

    --v-border-color: hsl(from var(--v-color-dark) h s 90%);
    --v-focus-color: hsl(from var(--v-color-dark) h s 10%);

    --v-bg: var(--v-light-bg);
    --v-fg: hsl(from var(--v-color-dark) h s 5%);

    --v-active-bg: var(--v-color-blue);
    --v-active-fg: var(--v-bg);

    --v-hover-bg: hsl(from var(--v-color-dark) h s 92%);
    --v-hover-fg: var(--v-fg);
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    &:root {
      color-scheme: dark;

      --v-border-color: hsl(from var(--v-night-bg) h s 15%);
      --v-focus-color: hsl(from var(--v-night-bg) h s 10%);

      --v-bg: var(--v-night-bg);
      --v-fg: hsl(from var(--v-night-bg) h s 90%);

      --v-active-bg: var(--v-color-blue);
      --v-active-fg: var(--v-fg);

      --v-hover-bg: hsl(from var(--v-night-bg) h s 12%);
      --v-hover-fg: var(--v-fg);
    }
  }
}
