[v-cloak] {
  display: none !important;
}

body {
  font-size: 15px !important;
  overscroll-behavior: none;
}

/* bootstrap customizations */

.btn-link {
  color: inherit;
}

.form-control, .form-control:focus {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.07) !important;
}

select.form-control {
  -webkit-appearance: none;
}

select.form-control:not([multiple]):not([size]) {
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding-right: 1.2rem;
  cursor: pointer;
}

.btn:focus {
  box-shadow: none !important;
}

.dropdown-header {
  cursor: default;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-toggle-no-caret:after {
  display: none;
}

.settings-dropdown .dropdown-toggle {
  padding-left: 0;
  padding-right: 0;
}

.settings-dropdown .dropdown-menu {
  padding: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.settings-dropdown .dropdown-item,
.settings-dropdown .dropdown-header {
  padding: .375rem 1rem;
}

.settings-dropdown .dropdown-divider {
  margin: 0;
}

.settings-dropdown .dropdown-menu:focus {
  outline: none;
}

.settings-dropdown .dropdown-item {
  cursor: pointer;
}

.settings-dropdown .dropdown-item:focus {
  outline: none;
}

.settings-dropdown form:focus {
  outline: none;
}

.popover:focus {
  outline: none;
}

.table-compact tr td:first-child {
  padding-left: 0;
}

.table-compact tr td:last-child {
  padding-right: 0;
}

/* custom elements */

.font-serif {
  font-family: Georgia, serif;
}

.font-monospace {
  font-family: SFMono-Regular, Menlo, Consolas, monospace;
}

.icon {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  line-height: 1;
}

.icon > svg , .icon > img {
  width: 1rem;
  height: 1rem;
  vertical-align: top;
}

.icon-small {
  width: .6rem;
  height: .6rem;
  display: inline-block;
}

.icon-small > svg , .icon-small > img {
  width: .6rem;
  height: .6rem;
}

.info {
  position: relative;
}

.info::after {
  visibility: hidden;
  position: absolute;
  right: -0.5rem;
  left: auto;
  bottom: 1.5rem;
  content: attr(data-info);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  border-radius: 3px;
  min-width: 16rem;
  z-index: 1000;
}

.info:hover::after {
  visibility: visible;
}

.feed-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-left: -18px !important;
}

.counter {
  padding-left: .5rem;
  opacity: .6;
}

.light {
  opacity: .6;
}

.selectgroup {
  position: relative;
  display: block;
  margin: 0;
}

.selectgroup *, .noselect, .dropdown-menu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectgroup input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0; left: 0;
}

.selectgroup + .selectgroup {
  margin-top: .25rem;
}

.selectgroup-label {
  padding: .375rem .5rem;
  border-radius: 4px;
  overflow-wrap: break-word;
}

.selectgroup-label:hover {
  cursor: pointer;
}

.list-row:hover,
.toolbar-item:hover,
.toolbar-search:hover,
.selectgroup-label:hover,
.dropdown-item:hover {
  background-color: #f0f0f0;
}

.expanded {
  transform: rotate(90deg);
}

@keyframes stroke {
  from { stroke-dashoffset: 120; }
  to   { stroke-dashoffset: 0; }
}

@keyframes rotate {
  from { transform: rotate(0); }
  to   { transform: rotate(360deg); }
}

.loading {
  color: transparent!important;
  min-height: .8rem;
  pointer-events: none;
  position: relative;
}

.loading::after {
  animation: rotate .5s infinite linear;
  border: .1rem solid #6c757d;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  left: 50%;
  margin-left: -.5rem;
  margin-top: -.5rem;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.icon-loading > svg {
  animation: stroke 2s infinite normal;
  stroke-dasharray: 60;
}

.btn-default {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.btn-default:active {
  background: #f5f7f9;
  box-shadow: none;
}

.btn-outline {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.btn-outline:hover {
  background-color: #f8f9fa;
}

.list-row {
  padding-left: .5rem;
  padding-right: .5rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
  border-radius: 3px;
  user-select: none;
  cursor: default;
}

.toolbar {
  min-height: 2rem !important;
  max-height: 2rem !important;
}

.toolbar-item {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .25rem .5rem;
  font-size: 1rem;
  border-radius: .25rem;
  line-height: 1;
  color: inherit;

  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  cursor: pointer;
  color: inherit;
}

.toolbar-item:focus {
  outline: none;
}

.toolbar-item:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.drag {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  z-index: 900;
  cursor: col-resize;
}

.input-icon {
  position: relative;
}

.input-icon .icon {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 2rem;
  justify-content: center;
  pointer-events: none;
}

.input-icon input {
  padding-left: 2rem !important;
  width: 100%;
}

.toolbar-search {
  border: none;
  border-radius: 3px;
  padding: .25rem .5rem;
  line-height: 1;
}

.toolbar-search:hover, .toolbar-search:focus {
  background-color: #f3f3f3;
  outline: none;
}

#opml-import-form input[type="file"]::-webkit-file-upload-button {
  position: absolute;
  top: -999px;
  left: -999px;
}

.custom-modal {
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  display: block !important;
}

/* content */

.content {
  overflow-wrap: break-word;
  line-height: 1.5;
}

.content img, .content video {
  max-width: 100%;
  height: auto;
}

.content pre {
  overflow-x: auto;
  color: inherit;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding: 0.5rem;
}

.content a {
  color: inherit;
  text-decoration: underline;
}

.content blockquote {
  border-left: 3px solid #22262a;
  padding-left: 1rem;
}

.content h1 {
  font-size: 1.8rem;
}
.content h2 {
  font-size: 1.5rem;
}
.content h3 {
  font-size: 1.17rem;
}
.content h4,
.content h5,
.content h6 {
  font-size: 1rem;
}

/* theme: light */

button.theme-light {
  background-color: #fff !important;
}

a,
.btn-link:hover,
.toolbar-item.active {
  color: #0080d4;
}

.dropdown-item.active,
.dropdown-item:active,
.selectgroup input:checked + .selectgroup-label {
  color: #fff;
  background-color: #0080d4 !important;
}

.btn-default:focus,
.form-control:focus {
  border-color: #0080d4;
}

/* theme: sepia */

.theme-sepia,
.theme-sepia .btn-default,
.theme-sepia .dropdown-menu,
.theme-sepia .form-control,
.theme-sepia .modal-content,
.theme-sepia .toolbar-search {
  background-color: #f4f0e5 !important;
}
.theme-sepia .content hr,
.theme-sepia .content pre,
.theme-sepia .border-right,
.theme-sepia .border-top {
  border-color: #e0d6ba !important;
}
.theme-sepia .selectgroup-label:hover,
.theme-sepia .toolbar-item:hover,
.theme-sepia .toolbar-search:hover,
.theme-sepia .dropdown-item:hover,
.theme-sepia .list-row:hover,
.theme-sepia .toolbar-search:focus {
  background-color: #e0d6ba;
}

/* theme: night */

.theme-night,
.theme-night .btn-default,
.theme-night .dropdown-menu,
.theme-night .dropdown-item,
.theme-night .form-control,
.theme-night .modal-content,
.theme-night .toolbar-search {
  color: #d1d1d1;
  background-color: #0e0e0e;
}
.theme-night .content hr,
.theme-night .content pre,
.theme-night .border-right,
.theme-night .border-top,
.theme-night .dropdown-divider {
  border-color: #1a1a1a !important;
}
.theme-night .list-row:hover,
.theme-night .selectgroup-label:hover,
.theme-night .dropdown-item:hover,
.theme-night .toolbar-item:hover,
.theme-night .toolbar-search:hover,
.theme-night .toolbar-search:focus {
  background-color: #1a1a1a;
}

.theme-night .dropdown-menu,
.theme-night .modal-content {
  border-color: #1a1a1a;
}

/* animation */
.indicator-enter-active, .indicator-leave-active {
  transition: all .3s;
}
.indicator-enter, .indicator-leave-to {
  width: 0;
  opacity: 0;
  margin: 0 !important;
}

/* responsive layout

   tablet:
     none selected: show feed list & item list
     feed selected: show feed list & item list
     item selected: show item
   mobile:
     none selected: show feed list
     feed selected: show item list
     item selected: show item
*/

@media (min-width: 768px) and (max-width: 991.98px) {
  #app #col-feed-list {
    width: 35% !important;
  }
  #app #col-item-list {
    width: 65% !important;
    border-right-width: 0 !important;
  }
  #app #col-item {
    display: none !important;
  }

  #app.item-selected #col-feed-list {
    display: none !important;
  }
  #app.item-selected #col-item-list {
    display: none !important;
  }
  #app.item-selected #col-item {
    display: flex !important;
  }
}

@media (max-width: 767.98px) {
  #app #col-feed-list {
    width: 100% !important;
    border-right-width: 0 !important;
  }
  #app #col-item-list {
    width: 100% !important;
    display: none !important;
    border-right-width: 0 !important;
  }
  #app #col-item {
    width: 100% !important;
    display: none !important;
  }

  #app.feed-selected #col-feed-list {
    display: none !important;
  }
  #app.feed-selected #col-item-list {
    display: flex !important;
  }

  #app.item-selected #col-feed-list {
    display: none !important;
  }
  #app.item-selected #col-item-list {
    display: none !important;
  }
  #app.item-selected #col-item {
    display: flex !important;
  }
}

/* styles for both mobile & tablet layout */

@media (max-width: 991.98px) {
  .drag {
    cursor: default;
  }
  .toolbar {
    min-height: 3rem !important;
    max-height: 3rem !important;
  }
  .toolbar-item,
  .toolbar-search {
    padding: .5rem;
  }
}
