<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yarr!</title>
    <link rel="stylesheet" href="./static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./static/stylesheets/app.css">
    <link rel="icon" href="./static/graphicarts/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="./static/graphicarts/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        [v-cloak] { display: none }
        form {
            max-width: 300px;
            margin: 0 auto;
            padding: 1rem;
        }
        form img {
            width: 4rem;
            height: 4rem;
            display: block;
            margin: 3rem auto;
        }
    </style>
</head>
<body class="theme-{{ .settings.theme_name }}">
    <div id="app" v-cloak></div>
    <script src="./static/javascripts/vue.min.js"></script>
    <script src="./static/javascripts/fluent.js"></script>
    <script src="./static/javascripts/i18n.js"></script>
    <script>
        Vue.use(i18n)
        new Vue({
            data: { hasError: {{ .hasError }} },
            created: function () {
                this.$setLang('{{ .settings.language }}')
            }
        }).$mount('#app')
    </script>
</body>
</html>
